[Unit]
Description=CardKB service for Raspberry Pi
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=idle
ExecStart=/usr/local/bin/cardkb 11
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target