[Unit]
Description=Service for using CardKB with Raspberry Pi
After=multi-user.target

[Service]
#User=root
Type=idle
ExecStart=/usr/bin/python3 /home/viktor/git/cardkb
Restart=on-failure

[Install]
WantedBy=multi-user.target
