[Unit]
Description=Service for using CardKB with Raspberry Pi
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/env cardkb
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
